/*清楚默认样式*/
body,ul,h1,h2,h3,h4,h5,h6,p,input,dl,dd,dt{
margin: 0;
}
ul{
padding-left: 0;
list-style-type: none;
}
a{
text-decoration: none;
}
a:hover{
text-decoration: underline;
}
@font-face {
font-family: 'iconfont';
src: url('../font/iconfont.eot');
src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
url('../font/iconfont.woff2') format('woff2'),
url('../font/iconfont.woff') format('woff'),
url('../font/iconfont.ttf') format('truetype'),
url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
font-family: "iconfont" !important;
font-size: 16px;
font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width:768px){
/*导航栏*/
#usual{
display: block;
color:#A7A7A9;
font-size:12px;
}
#small{
display: none;
}
footer input[type="checkbox"]{
    display: none;
    }
footer label{
    display: none;
}
/*导航栏上半部分*/
header>.top-part{    
position: fixed; 
width: 100%;
height: 40px;
background-color: #434343;
top:0;
}
/*导航栏内容*/
header>.top-part>span{
display: block;
max-width: 976px;
text-align: right;
margin: 0 auto;
line-height: 40px;
}
/*导航栏下半部分*/
header>.bottom-part{
position: fixed; 
width:100%;
height: 45px;
background-color:rgba(0, 0, 0, 0.92);
top: 40px;
}
/*导航栏下半部分内容*/
header>.bottom-part>.item-choice{   
display: flex;
max-width: 976px;
margin: 0 auto;
justify-content: space-between;
align-items: stretch;
}
header>.bottom-part>.item-choice>li{
/* width: 108px; */
float: left;/*这个问题考虑到兼容性问题*/
line-height: 44px;
}
header>.bottom-part>.item-choice>li>a{
color:#A7A7A9;
}
header>.bottom-part>.item-choice>li>a:hover{
color:#FEFEFE;
}
header>.bottom-part>.item-choice>.iconfont{
font-size: 20px;
cursor: pointer;
transition: 1s all;
}
header>.bottom-part>.item-choice>.iconfont:hover{
color:#FEFEFE;
}
/*主体部分*/
main{
box-sizing: border-box;
padding-top: 84px;
}
main section{
box-sizing: border-box;
padding-top: 53px;
cursor: pointer;
margin-bottom: 10px;
}
main .big-item{
width: 100%;
height: 613px;
}
main .big-item:nth-of-type(1){
padding-top: 100px;
background: url(../images/shexiangtou.jpg) no-repeat center/cover;
}
main .big-item:nth-of-type(2){
background: url(../images/phone.jpg) no-repeat center/cover;
}
main .big-item:nth-of-type(3){
padding-top: 143px;
background: url(../images/logo_hero.png) no-repeat 50% 65px/163px 62px,
url(../images/watch.jpg) no-repeat center/cover;            
}
main .small-item:nth-of-type(1){
background: url(../images/pc.jpg) no-repeat 10px 0px/100% 100%;
}
main .small-item:nth-of-type(2){
background: url(../images/car.jpg) no-repeat 10px 0px/100% 100%;
}
main .small-item:nth-of-type(3){
background: url(../images/watch2.jpg) no-repeat 10px 0/100% 100%;           
}
main .small-item:nth-of-type(4){
background:url(../images/airpods.jpg) no-repeat 10px bottom/contain,
linear-gradient(to bottom,#f9f9f9 0,#f9f9f9 500px,transparent 500px) no-repeat 10px 0;
}
main .small-item:nth-of-type(5){
background: url(../images/logo_tile.png) no-repeat 50% 20px/62px 57px,
url(../images/computer.jpg) no-repeat 10px 0px/100% 100%;
}
main .small-item:nth-of-type(6){
background: url(../images/music_47492.png) no-repeat 50% 47px/103px 25px,
url(../images/music.png) no-repeat 50% 417px/33px 33px,
url(../images/apple_music.jpg) no-repeat 10px 0px/100% 100%;           
}

/*字体格式合并备用*/
.font-show{
width: 100%;
margin: auto;
text-align:center;
}
/*白色引用字体颜色*/
.font-white{
color:white;
}
/*黑色引用字体颜色*/
.font-black{
color:black;
}
/*灰色引用字体颜色*/
.font-grey{
color:#85858A;
}
/*蓝色引用字体颜色*/
.font-blue{
color:#1184FD;
}
/*淡白色字体引用*/
.font-scolor{
color:#DBF4F6;
}
/*大字号*/
.font-big-size{
font-size: 43px;
}
/*较大字号*/
.font-biger-size{
font-size: 28px;
}
/*中字号*/
.font-middle-size{
font-size: 20px;
}
/*小字号*/
.font-small-size{
font-size: 18px;
}
/*特小字号*/
.font-tiny-size{
font-size: 14px;
}
/*行文字整体布局*/  
main .big-item>h4{
line-height: 63px;
}
main .big-item>h5{
line-height: 40px;
}
.price{
line-height: 30px;   
}
.more{
line-height: 50px;
}
.more>a+a{
margin-left: 30px;
}
footer .service>dd>a{
    color: #666;
}
/*行文字具体布局*/ 
main .big-item:nth-child(3)>h5{
line-height: 25px;
}
main .big-item:nth-child(3)>.more{
line-height: 58px;
}
/*主体部分的第二部分布局*/
main>.small-part{
box-sizing: border-box;
padding-right: 10px;
}
main>.small-part>.small-item{
box-sizing: border-box;
padding-top: 42px;
width: 50%;
height: 490px;
padding-left: 10px;
float: left;
}
/*第二部分行文字具体布局*/
main .small-item h4{
line-height: 38px;
}
main .small-item h5{
line-height: 32px;
}
main .small-item p{
line-height: 40px;
}
main .small-item .price{
line-height: 26px;
}
main .small-item:nth-of-type(5)>.price, main .small-item:nth-of-type(6)>.price{
margin-top: 43px;
}
/*页脚*/
footer{
font-size:12px;
color: #85858A;
}
/*页脚说明*/
footer>section>.explain{
margin: auto;
box-sizing: border-box;
padding:16px 0 10px;
max-width: 976px;
border-bottom:1px solid #D1D1D6;
}
footer>section>.explain>li{
width: 100%;
font-size: 12px;
margin-bottom: 10px;
}
/*页脚服务*/
footer>section{
box-sizing: border-box;
max-width: 976px;
margin: auto;
}
footer .service{
width: 20%;
float: left;
line-height: 25px;
}
footer .service>dt{
font-weight: bold;
color: #333;
height: 25px;
margin-top: 18px;
}
footer .service>dd{
height: 25px;
}
#usual-footer>section>.more-buy-style{
max-width: 976px;
margin: 350px auto 0;
border-bottom: 1px solid #D1D1D6;
line-height: 40px;
}
footer .more-buy-style>a{
color:blue;
}
/*最下边两行*/
footer .other{
box-sizing: border-box;
max-width: 976px;
margin: 2px auto;
height: 70px;
line-height: 28px;
}
footer .other>span{
padding:0 12px;
}
footer .other>span:first-child{
margin-left: 22px;
}
footer .other>span+span{
border-left: 1px solid #D1D1D6;
}     
}
@media screen and (max-width:767px){
#usual{
display: none;
}
#small{
display: block;
color:#A7A7A9;
font-size:12px;
}
/*导航栏上半部分*/
header>.top-part{    
position: fixed; 
box-sizing: border-box;
width: 100%;
height: 50px;
background-color: #434343;
top:0;
padding-right: 16px;
text-align: right;
line-height: 50px;
}
/*导航栏下半部分*/
header>.bottom-part{
position: fixed; 
width:100%;
height:50px;
background-color:rgba(0, 0, 0, 0.92);
top: 40px;
z-index: 1;
}
/*导航栏下半部分内容*/
header>.bottom-part>.item-choice{
box-sizing: border-box; 
width: 100%;
height: 100%;
padding:0 18px;
display: flex;
justify-content: space-between;
align-items: stretch;
}
header>.bottom-part>.item-choice>li{
height: 100%;
line-height: 50px;
font-size: 20px;
cursor: pointer;
}
header>.bottom-part>.item-choice>li:hover{
color: white;
cursor: pointer;
}
header>.bottom-part>.item-choice>.line>label{
display: block;
width: 18px;
height: 100%;
}
header .line>label>span{
display: block;
width: 18px;
height: 0px;
border-bottom: 1px solid #F8F8F8;
transform-origin: 22% 0%;
transition-property: transform;
transition-duration: 0.5s;
}
header .line>label>.line-top{
margin-top: 21px;
}
header .line>label>.line-bottom{
margin-top: 6px;
}
.item-choice>#choice:checked+.line>label>.line-top{   
transform: rotate(45deg);
}
.item-choice>#choice:checked+.line>label>.line-bottom{
transform: rotate(-45deg);
}
/*下拉框区*/
.line>.content-list{
position: absolute;
width: 100%;
height: 0;
background-color: black;
left: 0;
right: 0;
top:50px;
bottom:0;
overflow: hidden;
transition:all 0.5s ;
}
.item-choice>#choice{
display: none;
}
/*下拉选动态变化*/
.item-choice>#choice:checked+.line>.content-list{
height: 100vh;
}
/*下拉选动态变化-包包*/
.iconfont{
position: relative;
}
/*下拉选动态变化-包包*/
.iconfont>.disappear{
position: absolute;
width: 100%;
height: 0;
top:0;
background-color: black;
transition: all 1s;
}
/*下拉选动态变化-包包*/
.item-choice>#choice:checked ~ .iconfont>.disappear{
height: 50px;
}
.content-list>.search{
line-height: 0;
position: relative;
box-sizing: border-box;
width: 100%;
height:50px;
border-bottom: 1px solid #414144;
padding: 0 10px;
}
.content-list>.search>.iconfont{
line-height: 35px;
width: 30px;
height: 35px;
position: absolute;
text-align: center;
color:#596C64;
}
/*搜索框*/
.content-list>.search>input{
box-sizing: border-box;
height: 35px;
width: 100%;
background-color: #414144;
border-radius: 18px;
/* outline: none; */
border-width: 0px;
padding-left: 30px;
}
.content-list>.choice-list{
box-sizing: border-box;
width:100%;
height:100%;
padding:0 40px;
}
.content-list>.choice-list>li{
width: 100%;
height: 45px;
line-height: 45px;
text-align: left;
cursor: pointer;
font-size: 12px;
}
.content-list>.choice-list>li>a{
color:#A7A7A9;
}
.content-list>.choice-list>li>a:hover{
color:#FEFEFE;
}
.content-list>.choice-list>li+li{
border-top:1px solid #414144;
}
/*主体部分*/
#usual-main>.big-part{
padding-top: 90px;
}
main section{
box-sizing: border-box;
padding-top: 42px;
width: 100%;
height: 500px;
background-color: burlywood;
margin-bottom: 10px;
}
main .big-item:nth-of-type(1){
padding-top: 50px;
background: url(../images/shexiangtou.jpg) no-repeat center/cover;
}
main .big-item:nth-of-type(2){
background: url(../images/phone.jpg) no-repeat center/cover;
}
main .big-item:nth-of-type(3){
padding-top: 143px;
background: url(../images/logo_hero.png) no-repeat 50% 65px/163px 62px,
url(../images/watch.jpg) no-repeat center/cover;            
}
main .small-item:nth-of-type(1){
background: url(../images/pc.jpg) no-repeat 0px 0px/100% 100%;
}
main .small-item:nth-of-type(2){
background: url(../images/car.jpg) no-repeat 0px 0px/100% 100%;
}
main .small-item:nth-of-type(3){
background: url(../images/watch2.jpg) no-repeat 0px 0/100% 100%;           
}
main .small-item:nth-of-type(4){
background:linear-gradient(to bottom,#f9f9f9 0,#f9f9f9 300px,transparent 300px),
url(../images/airpods.jpg) no-repeat 0px bottom/contain;
}
main .small-item:nth-of-type(5){
padding-top: 84px;
background: url(../images/logo_tile.png) no-repeat 50% 20px/62px 57px,
url(../images/computer.jpg) no-repeat 0px 0px/100% 100%;
}
main .small-item:nth-of-type(6){
padding-top: 80px;
background: url(../images/music_47492.png) no-repeat 50% 47px/103px 25px,
url(../images/music.png) no-repeat 50% 417px/33px 33px,
url(../images/apple_music.jpg) no-repeat 0px 0px/100% 100%;           
}
/*字体格式合并备用*/
.font-show{
width: 100%;
margin: auto;
text-align:center;
}
/*白色引用字体颜色*/
.font-white{
color:white;
}
/*黑色引用字体颜色*/
.font-black{
color:black;
}
/*灰色引用字体颜色*/
.font-grey{
color:#85858A;
}
/*蓝色引用字体颜色*/
.font-blue{
color:#1184FD;
}
/*淡白色字体引用*/
.font-scolor{
color:#DBF4F6;
}
/*大字号*/
.font-big-size{
font-size: 28px;
}
/*较大字号*/
.font-biger-size{
font-size: 28px;
}
/*中字号*/
.font-middle-size{
font-size: 18px;
}
/*小字号*/
.font-small-size{
font-size: 16px;
}
/*特小字号*/
.font-tiny-size{
font-size: 12px;
}
/*行文字整体布局*/  
main .big-item>h4{
line-height: 63px;
}
main .big-item>h5{
line-height: 30px;
}
.price{
line-height: 22px;   
}
.more{
line-height: 30px;
}
.more>a+a{
margin-left: 30px;
}
/*行文字具体布局*/ 
main .big-item:nth-child(3)>h5{
line-height: 25px;
}
main .big-item:nth-child(3)>.more{
line-height: 58px;
}
/*页脚*/
footer{
box-sizing: border-box;
font-size:12px;
color: #85858A;
padding:0 20px;
z-index:-1;
}
/*页脚说明*/
footer>section>.explain{
margin: auto;
box-sizing: border-box;
padding-top: 16px;
padding-bottom: 10px;
max-width: 976px;
border-bottom:1px solid #D1D1D6;
}
footer input[type="checkbox"]{
display: none;
}
footer>section>.explain>li{
width: 100%;
font-size: 12px;
margin-bottom: 10px;
}
footer>section>.service>dd{
text-indent:15px;
height: 0px;
line-height: 30px;
overflow: hidden;
}
footer input[name="about1"]:checked+.service>.dt1{
transition: 0.5s all;
height: 30px;
}
footer input[name="about1"]:checked+.service>dt:nth-of-type(1)>label{
transform: rotate(45deg);
}
footer input[name="about2"]:checked+input[name="about1"]+.service>.dt2{
transition: 0.5s all;
height: 30px;
}
footer input[name="about2"]:checked+input[name="about1"]+.service>dt:nth-of-type(2)>label{
transform: rotate(45deg);
}
footer>section>.service>dt{
min-height: 36px;
line-height: 36px;
}
footer>section>.service>dd+dt{
border-top: 1px solid #D1D1D6 ;
}
footer>section>.service:first-of-type{
margin-top:20px;
}
footer>section>.service{
position: relative;
width: 100%;
border-bottom: 1px solid #D1D1D6 ;
min-height: 36px;
}
footer>section>.service>dt>label{
position: absolute;
right: 0;
}
.more-buy-style{
margin-top: 30px;
line-height: 22px;
}
.other{
box-sizing: border-box;
margin-top: 10px;
line-height: 22px;
padding-bottom: 20px;
}
}