<!DOCTYPE html>
<html>
  <head>
    <title>读取数据库</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for(result of results){ %>
    <li>内容1:<%= result.aa %>内容2:<%= result.name %></li>
    <% } %>
  </body>
</html>